.app_header>.task-form {
    width: 50%;
}

.task-form {
    margin-top: 40px;
    width: 600px;
}

.task_input {
    font-size: 20px;
    font-weight: 500;
    background-color: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: inherit;
    box-sizing: border-box;
}

.task_form_button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.task-status {
    font-size: 16px;
    font-weight: 500;
    background-color: #f9f9f9;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 10px;
}

.task-submit {
    font-size: 16px;
    font-weight: 500;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}