.app {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.app-header {
    justify-self: center;
}

.main-heading {
    text-align: center;
    margin-top: 25px;
}

.app-main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
    border-top: 1px solid black;
}